body {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100vh;
  margin: 0; 
  background-color: white;
}

.container {
  width: 90%;
  height: 80vh;
  max-width: 800px;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
  background-image:url("https://github.com/sujitha769/Codsoft-/blob/main/gaming.jpg?raw=true");
  background-size: cover;
  
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
padding-top: 5%;
padding-right: 20px;
}
.right h1{
  color: aliceblue;
}
.right p{
   color: white;
   width: 30vw;
}
h1{
  margin: 0;
}

button:hover{
  background: green;
}
.b1{
  margin-right: 12px;
}

.submit{
  display: flex;
 flex-direction: row;
 justify-content: center;
 background: antiquewhite;
 padding: 1px;
 background:none;
 margin-left: 350px;
}
button{
  background-color: black;
  color:white;
  font-weight: bolder;
  border: none;
  padding: 6px;
  border: solid 1px green;
  border-radius: 4px;
}
.footer{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  font-weight: lighter;

  margin-top: 180px;
}
.head{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
