
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Tangerine:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Roboto:ital,wght@0,100..900;1,100..900&family=Smooch+Sans:wght@100..900&family=Tangerine:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Londrina+Sketch&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik+Distressed&family=Smooch+Sans:wght@100..900&family=Tangerine:wght@400;700&display=swap');


body{
  margin: 0;
  background: black;
}
.header{
  display: flex;
 flex-direction: row;
 justify-content: space-between;
 background: antiquewhite;
 padding: 1px;
 background: black;

}
.h{
  margin-left: 5px;

}
.righthead{
  margin-top: 30px;
  margin-right: 10px;
 
  
}
.righthead a.h {
  color: white;
  text-decoration: none;
}
.lefthead{
  margin-left: 10px;
}
.pbody{
  height: 100vh;
 
  text-align: center;
  color: aliceblue;
 background: rgb(149, 149, 211);
  background-size: cover;
  
}
.data{
  display: flex;
  width: 60vw;
 
  margin-left: 190px;
 
}
.bi{
  border-radius: 50%;
  height: 300px;
  margin: 50px;
 
}
.myachv{
  display: flex;
  justify-content: center;
  height: 60vh;
  
  border-radius: 10px;
}
.achvleft{
width: 50%;
background: rgb(149, 149, 211);

overflow: hidden;
margin-left: 10px;
margin-top: 10px;
border-radius: 20px;
}


.achhead{
  border: green solid 2px;

  color: white;
 
}

.Contact{
  text-align: center;
  color: aliceblue;
}
.sinfo{
  width: 30px;
}

.card{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 5px;
  margin-top: 10px;
  margin-left: 10px;
}
.res{
  border-radius: 50px;
  padding: 5px;
  width: 100px;
  border: 0;
  background: black;
  color: aliceblue;
  font-weight: bolder;
  
}



.righthead a:hover {
  text-decoration: underline; 
}
.lefthead h1 {
  background: linear-gradient(90deg,rgb(116, 185, 228), rgb(224, 14, 224));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.data p{
  color: black;
  font-weight: bolder;
}
.center h1{
  background: linear-gradient(black,blue);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}
#myach{
  background: orange;
}
#cont{
  background: rgb(149, 149, 211);
  font-weight: bolder;
}
#cont h1{
  color: black;

}
.achvleft h4{
  color: white;
}
.achvleft:hover{
  background-color:rgba(111, 72, 72, 0.483);
}

